body{
background-color: #c2f0c2;
}



.headerSection{
background-color: lightgreen;
text-align: center;
margin:auto;
width:100%;
border-style:solid;
background-image:;
margin-bottom:20px;
}



.worksSection {
border-style:solid;
margin: auto;
width: 80%;
background-color:lightgreen;
text-align:center;
}

.worksrow1{
display: grid;
grid-template-columns: 1fr 2fr 3fr;
grid-gap:5%;
grid-template-columns: repeat(3, minmax(0, 1fr));
}

.worksrow2{
display: grid;
grid-template-columns: 1fr 2fr 3fr;
grid-gap:5%;
margin-top:5%;
grid-template-columns: repeat(3, minmax(0, 1fr));
}

.works1 {
height:100%;
width:100%;
Background-color: lightblue;
}

.works2 {
height:100%;
width:100%;
Background-color: lightblue;
}

.works3 {
height:100%;
width:100%;
Background-color: lightblue;
}

.works4 {
width:100%;
height:100%;
Background-color: lightblue;
}

.works5 {
width:100%;
height:100%;
Background-color: lightblue;
}

.works6 {
width:100%;
height:100%;
Background-color: lightblue;
}

.contactSection{
border-style:solid;
margin: auto;
width: 80%;
background-color:lightgreen;
text-align:center;
}
