
h1,h2,p{
margin:0;
}

.headerSection{
background-color: salmon;
text-align: center;
margin: auto;
width:90%;
}


.mainSection{
background-color: white;
margin: 0;

}

.aboutSection {
background-color: cyan;
margin: auto;
width: 80%
}

.worksSection {
background-color: lightblue;
margin: auto;
width: 80%
}

iframe{
display:block;
margin: auto;
width: 80%

}
