.headerSection{
background-color: salmon;
text-align: center;
}

.mainSection{

background-color: lightblue;
margin: auto;
width: 90%
}

.aboutSection {
background-color: green;
margin: auto;
width: 80%
}

.worksSection {
background-color: red;
margin: auto;
width: 80%
}

.contactSection{
background-color:yellow;
margin: auto;
width: 80%
}