body{
background-color: lightblue;
}

h1 {
color:white;
text-align: center;
}

h2 {
color: green;
text-align: center;
}

p {
color: black;
text-align:left;
background-color: orange;
  width: 100%;
  border: 15px;
border-color:red;
border-style: dotted;
  padding: 50px;
  margin: 0px;
}

button{
background-color: red;
width: 33.3%;
}
